<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>
<body>
<p>Welcome!</p>
<a href="/login">Log in</a>
<a href="/registration">Registration</a>
</body>
</html>