<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<p>Name: {{name}}</p>
<p>Description: {{description}}</p>
<p>Rating: {{rating}}</p>
</body>
</html>